/* stylesheet */

body {
  font: 14px/150% Helvetica Neue, sans-serif;
  background-color: #efefef;  /* EOEOEO */
  }

a {
  color: RoyalBlue;
  text-decoration: none;
  }
  
a:hover {
  color: blue;
  text-decoration: underline;
  }
  
a:active {
  color: #cedb9c;
}

.title, .head, .subhead, .body, .foot {
  padding: 10px;
  width: 850px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.title {
  background: #efefef;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.title a {
  color: #000;
}

sub, sup {
  line-height: 0;
}

.subtitle {
  float: right;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: normal;
  color: #000;
}

.head, .subhead {
  font-size: 18px;
  background: White;
  height: 1.5em;
  font-weight: bold;
  border-bottom: solid 1px #aaa;
  border-right: solid 1px #aaa;
  border-top: solid 1px #aaa;
  border-left: solid 1px #aaa;
  margin-top: 10px;
  padding-top: 15px;
}

.section {
  float: left;
  margin-right: 20px;
}

.selected a {
  color: #000;
}

.body {
  background: #fff;
  border-right: solid 1px #aaa;
  border-bottom: solid 1px #aaa;
  border-left: solid 1px #aaa;
  padding-bottom: 30px;
}

.source {
  font-size: 15px;
  color: FireBrick;
}
