/* stylesheet */

body {
  font: 14px/150% Helvetica Neue, sans-serif;
  background-color: white;
  }

a {
  color: blue;
  text-decoration: none;
  }
  
a:hover {
  text-decoration: underline;
  }
  
/*a:active {
  color: #87CEEB;
}
*/

.title, .head, .subhead, .body, .foot {
  padding: 1px;
  width: 830px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: black;
  padding-top: 30px;
}

.title a {
  color: #000;
}

sub, sup {
  line-height: 0;
}

/*.subtitle {
  float: right;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: normal;
  color: black;
}
*/

.head, .subhead {
  font-size: 18px;
  background: White;
  height: 1.5em;
  font-weight: bold;
  border-bottom: solid 1px #aaa;
  margin-top: 15px;
  /* border-right: solid 1px #aaa;
  border-top: solid 1px #aaa;
  border-left: solid 1px #aaa; */
}

.section {
  float: left;
  margin-right: 20px;
}

.selected a {
  color: #000;
}

.body {
  background: #fff;
  padding-bottom: 15px;
  border-right: solid 1px #aaa;
  border-bottom: solid 1px #aaa;
  border-left: solid 1px #aaa;
}

.source {
  font-size: 15px;
  color: FireBrick;
}
